

body{
    background-color: #F7F6F2;
}

.avatar{
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-left: 15px;

}
.navv{
    background-color: #f7f2f5;

}
.bg-nav {
    background-color: #61764B;
}


.nav-items:hover{
    border-bottom:2px solid  #125B50;
}

.bg-body{
    background-color: #F9F2ED;
}

.bg-theme{
    background-color: #97C4B8;
}

.col-theme{
    color: #125B50;
}



.register-img-container, .login-img-container{
   height: 90vh;

  
}

.profile-container{
    height: 100vh;
}
.register-img{
    margin-top: 100px;
} 



 
 .login-img{
     margin-top: 200px;
 } 

 .profile-img{
    width: 400px;
    height: 400px;
    border: 2px solid green;
    border-radius: 4px;
 }
 
 
.form-register{
    /* border: 2px solid rgb(244, 242, 242); */
    margin-top: 30%;
}

.form-profile{
    width: 90%;
    margin: 0px auto 0px auto;
}
.form-login{
    margin-top: 30%;


}

.form-control{
    border-radius: 0;
    margin-bottom: 3px;
    background-color: #F7F6F2;
}


.form-control-profile{
   border-radius: 0;

    background-color: #F7F6F2;
   margin-top: 10px; 
}



.login-btn,.submit-btn{
    border-radius: 0px;
    margin-top: 10px;
}

.filter-btn{
    margin-top: 10px;
    border-radius: 0px;  
}



.select-filter{
    border-radius: 5px;

}

.select-filter-form{
    min-width: 250px;
    max-width: 450px;
}

.product-price{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
}

.product-description{
    margin-top: -13px;
    font-size: 18px;
}
.product-location{
    margin-top: -5px;
    font-size: 15px;
}


/* .carousel{
    width: 400px;
    height: 200px;
} */
/* ##################################### */


#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}