{% extends 'main/layout.html' %}

{% block filter-bar %}
<div class="container-fluid p-5 bg-theme">
    <div class="row justify-content-evenly">
        <div class="col-4  select-filter-form" >
            <form action="" class="" method="">
                {% csrf_token %}
                <select name="location" class="form-select select-filter  " >
                    <option value="" selected disabled hidden>select Location</option>
                    <option class="bg-primary">Kumsasi</option>
                    <option>Tamale</option>
                    <option>Sekondi-Takoradi</option>
                    <option>Sunyani </option>
                    <option>Cape Coast</option>
                    <option>Obuasi</option>
                    <option >Accra</option>
                    <option>Teshie</option>
                    <option>Tema </option>
                  </select>
                  <button name="location-filter" type="submit" class="btn filter-btn btn-success">Search</button>
            </form>
            <div class="pb-2">
            </div>
        </div>
    </div>

    

</div>{% endblock filter-bar %}



{% block content %}
 <!-- page-layout -->
<div class="row ">

    <!-- filter-knob -->
    <div class="col-4 p-2  d-none d-lg-block border">

            <div class="p-3  mt-4  bg-light rounded border">
                <form action="" method=""  class="mb-4 price-form">
                    {%csrf_token%}
                    <div class="fw-bold">
                        Price
                    </div>
                    <div class="input-group">
                        <input name='minimum-price' type="text" class="form-control min-price" placeholder="MIN" aria-label="min-price">
                        <span class="input-group-text">-</span>
                        <input name="maximum-price" type="text" class="form-control max-price" placeholder="MAX" aria-label="max-price">
                    </div>
                    <button name="filter-knob" type="submit" class="btn filter-btn btn-outline-secondary price-btn">Filter</button>
                </form>


                <div class="form-check form-switch">
                    <input name="rent" class="form-check-input rent-radio" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Rent</label>
                </div>


                <div class="form-check form-switch">
                    <input name="sale" class="form-check-input sale-radio" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Sale</label>
                </div>
            </div>
    </div>



        <!-- property listing -->
    <div class="container col p-5 ">

            {% for listing in listings %}
                <a  class="listing-display  " href="{% url 'listing' listing.id %}">
                    <div class="row border mb-3 ">
                    
                            <div class="col-md-4 ">
                                <div id="carouselExampleControls" class="carousel slide  text-center"  data-bs-interval="false">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="{{listing.display_image}}" height="200" width="200" alt="image of property">
                                        </div>
                                   
                                    </div>
                                  
                                </div> 
                            </div>
                    
                            <div class="col-md-4  col-">
                                <div class="lead title">
                                <div class="product-price">
                                    <p><span class="currency">GHC</span>{{listing.price}}</p>
                                </div>
                                <p class="product-description">{{listing.description}}</p>
                                <p class="product-location text-muted">{{listing.location}}</p>
    
                                <div class="d-inline-flex">
                                        {% if listing.furnished %}
                                            <h6><span class="  rounded-pill   badge text-bg-secondary">FURSNISHED</span></h6>
                                        {% else %}
                                        <h6><span class=" badge rounded-pill  text-bg-secondary">UNFURNISHED</span></h6>
                                        {% endif %}

                                        <h6><span class=" badge rounded-pill mx-1  text-bg-secondary">{{listing.accomodation_type}}</span></h6>
                    
                                </div>
                                
                                </div>
                                {% if user.is_authenticated %}
                                    <form action="" method="post">
                                        {%csrf_token%}
                                        <input hidden value="" name=listing>
                                        <button type="submit" class=" fs-6 btn btn-outline-primary"><i class="bi bi-star"></i></button>
                                    </form>
                                {% endif %}
                            </div>  
                        
                    </div>

                </a>
               
                {% empty%}

                <div class="container p-4 ">

                    <div class="alert alert-primary d-flex align-items-cente bg-theme" role="alert">
                        <div class="p-5">
                            No ADDS HERE
                        
                        </div>
                
                </div>     
           {% endfor %}
           <div class="">
            <nav aria-label="..." class= "  d-flex justify-content-center ">
                <ul class="pagination pagination-lg">
    
                    {% if listings.has_previous %}
                        <li class="page-item"><a class="page-link text-secondary" href="{% url 'home' listings.previous_page_number %}">{{listings.previous_page_number}}</a></li>
                    {% endif %}
    
                    <li class="page-item active" aria-current="page">
                        <span class="page-link bg-success">
                        {{listings.number}}
                      
                        </span>
                    </li>
                    
                    {% if listings.has_next %}
                         <li class="page-item"><a class="page-link text-secondary" href="{% url 'home' listings.next_page_number %}">{{listings.next_page_number}}</a></li>
                    {% endif %}
                    
                </ul>
            </nav>
    
        </div>
        </div>




    </div>
    
    
</div>






{% comment %} <div id="carouselExampleControls" class="carousel slide border border-danger"  data-bs-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{profile.profile_image}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{profile.profile_image}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{profile.profile_image}}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev mt-5 " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-success mt-5 " aria-hidden="true"></span>
      <span class="visually-hidden text-danger">Previous</span>
    </button>
    <button class="carousel-control-next mt-5 " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-success mt-5 " aria-hidden="true"></span>
      <span class="visually-hidden text-danger">Next</span>
    </button>
</div>  {% endcomment %}

   
{% endblock content %}
