{% extends 'main/layout.html' %}


{% block content %}

<div class="container overflow-hidden">

    <div class="row  mt-4">

        <!-- image -->


        
        <div class="col-md-7 ">
            <div id="carouselExampleControls" class="carousel slide "  data-bs-interval="false">
                    <div class="carousel-inner ">
                        {% for image in images %}
                        {% if forloop.counter == 1 %}
                                <div class="carousel-item active ">
                                    {% load static %}
                                    <img src="{{image}}" height="500" width="700" alt="image of property" >
                                </div>

                            {% else %}

                                <div class="carousel-item  ">
                                    <img src="{{image}}" height="500" width="700" alt="image of property">
                                </div>
                            {% endif %}

                            
                        {% endfor %}
                
                    </div>
               

           
                <button class="carousel-control-prev mt-5 " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-success mt-5 " aria-hidden="true"></span>
                <span class="visually-hidden text-danger">Previous</span>
                </button>
                <button class="carousel-control-next mt-5 " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-success mt-5 " aria-hidden="true"></span>
                <span class="visually-hidden text-danger">Next</span>
                </button>
            </div> 
        </div>

       

        <div class="col-md-4 border bg-light ">
            <div class="border bg-light listing_item mb-5 ">
                <p class="listing-title ">{{listing.price}}</p> 
                <p class="text-break description fw-light"><i>{{listing.description}}</i></p>
                

                 <!-- Details -->
                 <div>
                    <p class="listing-title ">{{listing.location}}</p> 
                    <p class="listing-title ">{{listing.date_listed}}</p> 
                    <p class="listing-title ">{{listing.accomodation_type}}</p> 
                    <p class="listing-title ">{{listing.contact}}</p> 
                    <p class="listing-title ">{{listing.furnished}}</p> 
                 </div>
                
                </div>
            </div>  
        </div> 
    </div>



{% endblock content %}