{% extends 'main/layout.html' %}


{% block content %}
<input type="hidden" class="page_id" value="3">

<div class="container overflow-hidden">
    
    <div>
        <button type="submit" onclick="history.back()" class="btn filter-btn btn-success  rounded">Back</button>
    </div>

    <div class="row  mt-3">

        <!-- image -->


        
        <div class="col-md-7 ">
            <div id="carouselExampleControls" class="carousel slide "  data-bs-interval="false">
                    <div class="carousel-inner ">
                        {% for image in images %}
                        {% if forloop.counter == 1 %}
                                <div class="carousel-item active ">
                                    {% load static %}
                                    <img src="{{image}}" height="500" width="700" alt="image of property" >
                                </div>

                            {% else %}

                                <div class="carousel-item  ">
                                    <img src="{{image}}" height="500" width="700" alt="image of property">
                                </div>
                            {% endif %}

                            
                        {% endfor %}
                
                    </div>
               

           
                <button class="carousel-control-prev mt-5 " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-success mt-5 " aria-hidden="true"></span>
                <span class="visually-hidden text-danger">Previous</span>
                </button>
                <button class="carousel-control-next mt-5 " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-success mt-5 " aria-hidden="true"></span>
                <span class="visually-hidden text-danger">Next</span>
                </button>
            </div> 
        </div>

       

        <div class="col-md-4 border bg-light ">
            <div class="border bg-light p-2 listing_item mb-5 ">
                <p class=" listing-price">GH₵ {{listing.price}}</p> 
                <p class=" product-description ">{{listing.description}}</p>
                <button class="btn btn-lg btn-primary ">show contact</button>
                

                 <!-- Details -->
                 <div class="p-2 border rounded m-1 mt-4">
                    <p class=" listing-title product-location text-muted "><i class="bi bi-geo-alt text-muted"></i>{{listing.location}}</p> 
                    <p class="listing-title date text-muted ">{{listing.date_listed}}</p> 
                    <p class="listing-title "><span class=" badge rounded-pill text-bg-success">{{listing.accomodation_type}}</span></p> 
                    <input type="hidden" value="{{listing.contact}}">
                    {% if listing.furnished %}
                        <h6><span class="  rounded-pill   badge text-bg-secondary">FURSNISHED</span></h6>
                    {% else %}
                        <h6><span class=" badge rounded-pill  text-bg-secondary">UNFURNISHED</span></h6>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <p class="listing-title mt-4">Listed by <a href=" {% url 'profile' listing.user.id %}"><span class=" badge rounded-pill  text-bg-info">{{listing.user.username}}</span></a></p>
                    {% endif %}
                 </div>
                
                </div>
            </div>  
        </div> 
    </div>



{% endblock content %}