
{% extends 'main/layout.html' %}
{% block content %}

  <!-- flash_messages -->
  {% for message in messages %}
  <div class=" alert {{ message.tags }} alert-dismissible  text-center" role="alert">
  <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close">
  </button>
  {{ message | safe }}
  </div>
 {% endfor %}    

 
<div class="row " >
    <div class="col p-1 d-none d-lg-block border bg-theme login-img-container ">
        {% load static %}
        <img class="img-fluid  login-img " src="{% static 'main/svg/login.svg' %}" alt="">
        <!-- <object class="border" data="login.svg" height="600px" width="600" ></object> -->
    </div>

    <div class="col ">
        <div class="form-login mx-auto  p-3  form-login">
            <h2 class="posts">Log Into Your Account</h2>
            <form action="" method="post" >
                  {% csrf_token %} 
                <div class="form-group">
                    <input autofocus class="form-control" type="email" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <button class="btn btn-success login-btn" type="submit">Login</button>
            </form>
            Don't have an account? <a href="{% url 'signup' %}">Register here.</a>
        </div>

    </div>
</div>

{% endblock content %}

