{% extends 'main/layout.html' %}



{% block content %}
<input type="hidden" class="page_id" value="4">
<div class="container mb-3">
  <a href="/"><button type="submit" onclick="history.back()" class="btn filter-btn btn-success  rounded">home</button></a>
</div>
 

<div class="row  justify-content-around" >
    <div class="col-5 p-1 d-none d-lg-block border   profile-img-container ">
        <img class="img-fluid  profile-img  mx-5 my-4 " src="{{profile.profile_image}}" alt="">
        <!-- <object class="border" data="login.svg" height="600px" width="600" ></object> -->
        <div class=" border mx-2 p-4 bg-theme profile-footer"></div>
    </div>
  

    <div class="col ">
        <div class=" form-profile  ">
            <h2 class="mb-4">Edit profile</h2>

            <div class="mb-3" >
              <a class="user-posts" href= "{% url 'user_posts' %}">Your Posts</a>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1 form-control">Location</span>
                    <select name="location" class="form-select form-control select-filter " >
                        <option value="{{profile.primary_location}}" selected>{{profile.primary_location}}</option>
                        <option>Kumsasi</option>
                        <option>Tamale</option>
                        <option>Sekondi-Takoradi</option>
                        <option>Sunyani </option>
                        <option>Cape Coast</option>
                        <option>Obuasi</option>
                        <option>Teshie</option>
                        <option>Tema </option>
                      </select>
                  </div>

                

                  <div class="input-group">
                    <span class="input-group-text">Bio</span>
                    <textarea class="form-control" name="bio" aria-label="With textarea">{{profile.bio}}</textarea>
                  </div>

                  <div class="input-group">
                    <span class="input-group-text">username</span>
                    <input name="" type="text" class="form-control" placeholder="{{profile.user.username}}" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  </div>


                  <div class="input-group">
                    <span class="input-group-text">contact-info</span>
                    <input name="contact" type="text" class="form-control" placeholder="{{profile.contact}}" value="{{profile.contact}}" aria-label="Recipient's contact" aria-describedby="basic-addon2">
                  </div>


                  <div class="input-group mb-3">
                    <input name="email" type="text" class="form-control" placeholder="{{profile.user.email}}" aria-label="Recipient's email" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">Email</span>
                  </div>

                 
                  <div class="mb-3 w-50">
                    <label for="formFile" class="form-label">Pick a new Profile Pic</label>
                    <input name="image" class="form-control profile-picker" type="file" id="formFile">
                  </div>
                  <div class="    profile-image-preview"></div>

                
                <button type="submit" class="btn filter-btn btn-success profile-save">Save</button>
                
                

            </form>
            
        </div>

        
        
    </div>


    <div class="mt-5 profile-spinner"> </div>
     
</div>
{% endblock content %}

